<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.RecordMapper">
    <resultMap id="recordResultMap" type="Record">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="name" column="name"/>
    </resultMap>

    <insert id="insertRecord" parameterType="Record">
        insert into record(name)
        values (#{name})
    </insert>

    <select id="selectByName" parameterType="Record" resultMap="recordResultMap">
        select id, create_time, name
        from record
        where name = #{name}
    </select>
</mapper>
